<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title">Rodrigo Crespin</h1></div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <h3 class="title">Contact me:</h3>
        <div class="btn-wrapper profile">
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
            href="mailto:rodcrespin@gmail.com?Subject=I saw your webpage and I'm interested in knowing you better">
            <i class="fab fa fa-envelope"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://github.com/rodrigocrespin" target="_blank">
            <i class="fab fa-github"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.linkedin.com/in/rodrigocrespin/" target="_blank">
            <i class="fab fa-linkedin"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://www.instagram.com/chinocrespin" target="_blank">
            <i class="fab fa-instagram"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>