<div class="container">
  <div class="row row-grid justify-content-between">
    <div class="col-md-5 mt-lg-5">
      <div class="row">
        <div *ngFor="let skill of skills" class="col-lg-6 col-sm-12 px-2 py-2">
          <div class="card card-stats" appHoverClass="upper">
            <div class="card-body">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center">
                    <img *ngIf="skill.imgUrl as url" [src]="url" class="w-100">
                  </div>
                </div>
                <div class="col-7 col-md-8 align-self-center">
                  <div class="numbers">
                    <p class="card-title" [class.smaller-md]="skill.textSize === 'small'">{{skill.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pl-md-5">
        <hr class="line-success" />
        <h3>My Skills</h3>
        <p>
          I could say that my specialty is .NET since I have lot of experience working
          with the framework and related libraries, MVC pattern and API Rest. However,
          I have been improving a lot with Angular framework lately, being able to develop
          complex applications, following the client's requests but also managing an extensible
          and maintainable architecture.
        </p>
        <br/>
        <p>
          When it comes to team development and continuous integration, Docker is a good
          ally. Currently, I work with docker environments in every project I work, to be able to
          run any dependency like database motor, version, or maybe microservices which I'm not currently
          working with, but I need them running at background level.
        </p>
        <br/>
        <p>
          I was involved in a couple of projects with microservices architecture, where we
          implemented a message broker with RabbitMQ. In each microservice it would have
          it's own database, sharing and updating information with the other microservices.
          Some of them were SQL databases (like MySQL or PostgreSQL) while other would be
          NoSQL databases (like MongoDb).
        </p>
        <br/>
        <a class="font-weight-bold text-info mt-5" href="javascript:void(0)">
          Show all <i class="tim-icons icon-minimal-right text-info"></i>
        </a>
      </div>
    </div>
  </div>
</div>
