a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  opacity: 70%;
  transition: ease-in-out 1s;
  &:hover{
    transform: scale(1.1);
  }
  i {
    color: #FFFFFF;
    font-size: 1rem;
  }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 70%; }
}

.show-animate {
  animation-name: show;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
